/* input-text ================================= */
.input-text{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    height: 30px;
    min-width: 452px;
    border-bottom: 1px solid var(--main-text-color);
}
.input-text__button{

    box-sizing: border-box;
    height: 100%;
    width: 24px;

    cursor: pointer;
    border: 0;

    color: var(--main-text-color);
    background-color: white;
}

.input-text__button:hover{
    color: var(--main-color);
}

.input-text__input{
    flex-basis: calc(100% - 24px);
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    border: 0;

    font-family: var(--main-font-family);
    font-size: 14px;
}

input:focus { outline:none; }

/* focus-line */
.input-text__focus-line 	{
    flex-basis: 100%;
}
.input-text__focus-line:before, .input-text__focus-line:after 	{
    content:'';
    height:1px;
    width:0;

    position:absolute;
    background: var(--main-color);
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.input-text__focus-line:before {
    left:50%;
}
.input-text__focus-line:after {
    right:50%;
}

/* active state */
input:focus ~ .input-text__focus-line:before, input:focus ~ .input-text__focus-line:after {
    width:50%;
}