.header{

}

.logo{

}

.search-form{

}
.search-form__icon{

}
.search-form__input{

}

.dropdown {
    position: relative;
    display: block;


}
.dropbtn {
    background-color: #00b3be;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 300px;
}



.submenu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float:right;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .submenu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
