/* html ================================= */
html {
    font-size: var(--font-size);
    color: var(--content-color);
}

@media only all and (max-width: 480px) {
    html {
        font-size: calc(0.75 * var(--font-size));
    }
}

/* body ================================= */
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header ================================= */
.header {
    position: fixed;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    justify-items: start;
    height: 60px;
    width: 100%;
    background-color: var(--sub-theme-color);
}

@media only all and (max-width: 960px) {
    .header {
        position: relative;
        margin-bottom: 3rem;
    }
}

.input-text-search {
    min-width: 452px;
}

@media only screen and (max-width: 1200px) {
    .input-text-search {
        min-width: 200px;

    }
}

/* content ================================= */
.content {
    margin: 0 auto;
    max-width: 950px;
    padding-top: 150px;

}

@media only all and (max-width: 960px) {
    .content {
        padding-top: 50px;
    }
}

.login-right-section {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.85rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 383px;
    height: 100vh;
    background: var(--theme-color);
}

.login-right-section_bottom-text {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8rem 0 1rem 0;
    width: 100%;
    font-family: var(--font-family);
    color: var(--sub-theme-color);
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

.login-left-section-image {
    height: 100vh;
    background: #eee6e3;
}

.login-left-section-image__img {
    position: absolute;
    bottom: 0;
    left: 0;
    /*height: 100vh;*/
    width: calc(100% - 370px);
}

.login-logo {
    text-align: center;
}

/* logo ================================= */
.logo {
    margin-left: 50px;
}

.logo_img {
    margin: auto;
}

/* input-text ================================= */
.input-text {
    margin-bottom: 5px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    height: 30px;

    border-bottom: 1px solid var(--theme-color);
}

.input-text_color-invert {
    border-bottom: 1px solid var(--sub-theme-color);
}

.input-text__button {
    box-sizing: border-box;
    height: 100%;
    width: 24px;
    cursor: pointer;
    border: 0;
    outline: none;
    color: var(--content-color);
    background: none;
}

.input-text__button:hover {
    color: var(--content-color);
}

.input-text__button_color-invert:hover {
    color: var(--sub-theme-color);
}

.input-text__input {
    flex-basis: calc(100% - 24px);
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    border: 0;
    font-family: var(--font-family);
    font-size: 0.85rem;
    background: none;
}

.input-text__input_color-invert::placeholder {
    color: var(--sub-theme-color);
}

.input-text__input:focus {
    outline: none;
}

/* focus-line */
.input-text__focus-line {
    flex-basis: 100%;
}

.input-text__focus-line:before, .input-text__focus-line:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    background: var(--theme-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input-text__focus-line_color-invert:before, .input-text__focus-line_color-invert:after {
    background: var(--sub-theme-color);
}

.input-text__focus-line:before {
    left: 50%;
}

.input-text__focus-line:after {
    right: 50%;
}

/* active state */
input:focus ~ .input-text__focus-line:before, input:focus ~ .input-text__focus-line:after {
    width: 50%;
}

/* button ================================= */
.btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--theme-color);
    color: var(--sub-theme-color);
    padding: 0 16px;
    font-size: var(--font-size);
    cursor: pointer;
    height: 100%;
    min-height: 2rem;
}

.btn:hover {
    -webkit-box-shadow: inset 3px 0 0 0 var(--content-color);
    -moz-box-shadow: inset 3px 0 0 0 var(--content-color);
    box-shadow: inset 3px 0 0 0 var(--content-color);
}

/* login_btn ================================= */
.login_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #f2f2f2;
    color: var(--content-color);
    font-size: var(--font-size);
    cursor: pointer;
    height: 2.6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login_btn:hover {
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(145, 215, 99, 1);
    -moz-box-shadow: inset 0 -3px 0 0 rgba(145, 215, 99, 1);
    box-shadow: inset 0 -3px 0 0 rgba(145, 215, 99, 1);
}

.login_btn:active {
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(145, 215, 99, 1);
    -moz-box-shadow: inset 0 -3px 0 0 rgba(145, 215, 99, 1);
    box-shadow: inset 0 -3px 0 0 rgba(145, 215, 99, 1);
}

/* dropdown ================================= */
.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-group > button {
    width: 45%;
}

/* dropdown ================================= */
.form-group {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;
}

/* dropdown ================================= */
.dropdown {
    height: 100%;
    position: relative;
    background-color: var(--sub-theme-color);
}

.dropdown__submenu {
    width: 100%;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown__submenu {
    display: flex;
}

/* user-block ================================= */
.user-block {
    font-family: var(--font-family);
    height: 60px;
    width: 100%;
    z-index: 100;
}

@media only all and (min-width: 960px) {
    .user-block {
        order: 3;
        width: 383px;
    }
}

.user-block__menu {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--theme-color);
    color: var(--sub-theme-color);
    font-size: 1.14rem;
    font-weight: bold;
}

.user-block__avatar {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.user-block__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-block__submenu {
    /* display: flex; */
    flex-flow: row nowrap;
    justify-content: stretch;
}

/* photo-slider ================================= */

.slideshow {
    /*max-width: 600px;*/
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0;
}

.slideshow__slide {

}

.slideshow__slide img {
    width: 100%;
}

.slideshow__nav {
    display: flex;
    justify-content: space-between;
}

.slideshow__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    color: black;
    transition: 0.6s ease;
}

.slideshow__btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.slideshow__btn_next {
    right: 0;
}

.slideshow__btn_active {
    background-color: #717171;
}

/* Fading animation */
.slideshow__slide_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* about ================================= */
.about {
    display: block;
    padding: 0.5rem;
    font-family: var(--font-family);
    grid-gap: 1rem;
    font-size: 1.28rem;
}

@media only all and (min-width: 600px) {
    .about {
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-rows: auto;
        grid-template-areas: "slideshow title" "slideshow sub-title" "slideshow description";
        grid-gap: 1rem;
    }
}

.about__title {
    grid-area: title;
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 2.28rem;
}

.about__sub-title {
    grid-area: sub-title;
}

.about_slideshow {
    grid-area: slideshow;
}

.about__price {
    font-size: 2.28rem;
    color: var(--green-color);
    margin-left: 1.2rem;
}

.about__description {
    grid-area: description;
    padding-top: 1rem;
}

.about__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0 2rem;
    list-style: none;
}

.about__list li:before {
    content: '- ';
}

/* contact-list  ================================= */
.contact-list {
    padding: 0;
}

.contact-list__title-status {
    font-family: var(--font-family);
    font-size: 1.28rem;
    font-weight: bold;
}

.contact-list__list {
    /* display: flex; */
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.contact-list-item {
    display: flex;
    align-items: center;
    padding: 6px;
    font-family: var(--font-family);
    font-size: 1.14rem;
    font-weight: bold;
}

.contact-list-item:hover {
    background-color: rgba(240, 240, 240, 0.8);
}

.contact-list__avatar {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

/* chat ================================= */
.chat {
    display: block;
    padding: 0.5rem;
}

@media only all and (min-width: 600px) {
    .chat {
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-rows: auto;
        grid-template-areas: "title title" "messages contact-list" "input-text contact-list";
        grid-gap: 1rem;
    }

    .contact-list__dropdown__btn {
        display: none;
    }

    .contact-list__list {
        display: flex;
    }
}

.chat_title {
    grid-area: title;
}

.chat__input-text {
    grid-area: input-text;
}

.chat__contact-list {
    grid-area: contact-list;
}

.chat__messages {
    grid-area: messages;

    display: flex;
    flex-flow: row wrap; /* fix troubles with overflow when too much messages*/
    align-items: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 240px;
    overflow: auto;
}

.chat__message-line {
    flex-basis: 100%; /*fix troubles with overflow when too much messages*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 0;
    font-family: var(--font-family);
    font-size: 1rem;
}

.chat__message_multi-line {
    align-items: stretch;
}

.chat__message_own {
    flex-direction: row-reverse;
}

.chat__message-avatar {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.chat__message-text {
    max-width: 402px;
    margin: 0 5px;
}

/*vertical line for messages*/
.chat__message-line::after {
    content: "";
    min-height: var(--font-size);
    width: 5px;
    background: var(--theme-color);
}

/* footer ================================= */
footer {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    font-family: var(--font-family);
    font-size: 1.28rem;
    font-weight: bold;
    background: var(--theme-color);
    color: var(--sub-theme-color);
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
}

/* text modificators ================================= */
.text_italic {
    font-style: italic;
}

.text_bold {
    font-weight: bold;
}

._main-color {
    color: var(--theme-color);
}

.text_green-color {
    color: var(--green-color);
}

.text_red-color {
    color: #d72f2c;
}

.text_white-color {
    color: var(--sub-content-color);
}

.text_white-color::-webkit-input-placeholder {
    color: var(--sub-content-color);
}

.text_white-background-color {
    background: var(--sub-content-color);
}

.text_big_size {
    font-size: 2.14rem;
}

._margin-top-1rem {
    margin-top: 1rem;
}

._margin-top-2_5rem {
    margin-top: 2.5rem;
}

._margin-top-7_5rem {
    margin-top: 7.5rem;
}

._margin-top-4_6rem {
    margin-top: 4.6rem;
}

._margin-top-5_2rem {
    margin-top: 5.2rem;
}